.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;
  background-color: var(--white);
}

.header__logo {
  font-size: 20px;
  cursor: default;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
