.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--white);
}

.header__logo {
  font-size: 20px;
  cursor: default;
}


.header__links {
  display: flex;
  align-items: center;
  gap: 20px;
}
