.main-home {
  padding-top: 60px;
}

.content {
  margin-bottom: 160px;
}

.info {
  margin-bottom: 80px;
}

.slider {
  margin-bottom: 80px;
}

.aparts {
  cursor: pointer;
}

.story {
  cursor: pointer;
}

.slider-slide {
  max-width: 76vw;
  height: 95vw;
}


@media (min-width: 700px) {
  .info {
    max-width: 532px;
    margin-left: 35px;
  }
}