.aparts {
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aparts__img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  margin-bottom: 10px;
  object-fit: cover;
}

.aparts__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.square {
  word-wrap: break-word;
}

.price {
  word-wrap: break-word;
}
