.book-menu {
  position: fixed;
  z-index: 5;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--gray);
  border-radius: 1em;
  min-width: 578px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 24px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.options {
  display: flex;
  gap: 1em;
}

.options__item {
  line-height: 1;
}
