.book-menu {
  position: fixed;
  z-index: 5;
  bottom: 5%;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 1.2rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
  gap: 1.4rem;
  background-color: var(--gray);
  border-radius: 1em;
  width: calc(100vw - 40px);
  max-width: 578px;
  left: 50%;
  transform: translateX(-50%);
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.options__item {
  line-height: 1;
}
