@import url(./defaults.css);
@import url(./media.css);

:root {
  --black: #000000;
  --gray: rgba(232, 232, 232, 0.8);
  --white: #FFFFFF;
}

/* FONT */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'),
    url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Italic.eot');
  src: local('Inter Italic'), local('Inter-Italic'),
    url('../fonts/Inter-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter-Italic.woff2') format('woff2'),
    url('../fonts/Inter-Italic.woff') format('woff'),
    url('../fonts/Inter-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  letter-spacing: -0.02rem;
  color: var(--black);
  line-height: 1.1875;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Article */
.article {
  height: 100%;
}

.article__heading {
  font-size: 20px;
  font-weight: 400;
  font-family: inherit;
  margin-bottom: 1.5rem;
}

/* Link */
.link {
  font-size: 16px;
}

.link__icon:before {
  content: "\A0";
}

/* Button */
.button {
  background-color: var(--gray);
  border-radius: 25px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  height: 50px;
}

.transparent {
  opacity: 0;
  transform: translate(9999px) !important;
}

.swiper--8512-apartments {
  width: 100%;
  height: 100%;
  max-width: 1920px;
}

.gallery__counter {
  position: absolute;
  z-index: 5;
}